# VSCode(ium) files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

.pio
